.account-details {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
 
  .details__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 45px;
    label {
      grid-column: span 2;
      &:first-of-type, &:nth-of-type(2) {
        grid-column: span 1;
      }
    }
  }
  .reset__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  &--confirm {
    display: flex;
    align-items: center;
    gap: 50px;
    button[type=reset] {
      @include fonts(15px, 22px, $blue, 500);
      border: none;
      outline: none;
      background: none;
      
    }
  }
}