.banner {
  padding: 27px 0;
  background: $white;
  border: 1px solid #EBEBEB;
  box-shadow: 1px 4px 44px rgba(0, 0, 0, 0.03);
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      @include fonts(15px, 24px, $stroke);
      letter-spacing: -0.33%;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      font-size: 18px;
    }
  }
}