.forgot-password {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  h2 {
    @include fonts(35px, 44px, $black);
    letter-spacing: -0.0068em;
  }
  p {
    @include fonts(15px, 24px, #8786AD);
    margin: 50px 0;
  }
  .btn {
    align-self: flex-start;
    margin-top: 30px;
    width: 260px;
  }
}