.main {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &__content {
    
    &--main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 37.5px;
      column-gap: 19.12px;
      @include media(992) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}