@mixin media($size) {
  @media(max-width: #{$size}px) {
    @content
  };
};
@mixin container() {
  max-width: 83.8%;
  margin: 0 auto;
  padding: 0 15px;
  @include media(1400) {max-width: 1140px;}
  @include media(1200) {max-width: 920px;}
  @include media(992) {max-width: 720px;}
  @include media(768) {max-width: 540px;}
  @include media(576) {max-width: 100%;}
}
@mixin FontFace($font, $Url, $fName, $ext, $format, $fWeight) {
  @font-face {
    font-family: $font;
    src: url('#{$Url}-#{$fName}.#{$ext}') format("#{$format}");
    font-weight: $fWeight;
  }
}
$montserrat: ('Regular', 400), ('Medium', 500);
$lora: ('Regular', 400), ('Medium', 500), ('Bold', 700);
$icons: ('light-300', 300), ('brands-400', 400), ('regular-400', 400), ('solid-900', 900);
$poppins: ('Light', 300), ('Regular', 400), ('Medium', 500), ('SemiBold', 600), ('Bold', 700), /* ('Italic', 400) */;
@each $name, $weight in $icons {
  @include FontFace('icons', '/fonts/webfonts/fa', $name, 'ttf', 'truetype', $weight)
}
@each $name, $weight in $poppins {
  @include FontFace('poppins', '/fonts/poppins/Poppins', $name, 'ttf', 'truetype', $weight)
}
@each $name, $weight in $montserrat {
  @include FontFace('montserrat', '/fonts/montserrat/Montserrat', $name, 'ttf', 'truetype', $weight)
}
@each $name, $weight in $montserrat {
  @include FontFace('lora', '/fonts/lora/Lora', $name, 'ttf', 'truetype', $weight)
}

@mixin fonts($fz: null, $lh: null, $color: null, $fw: null) {
  font-size: $fz;
  line-height: $lh;
  color: $color;
  font-weight: $fw;
}